{% extends "blog/base.html" %}
{% block content %}

<!-- I want there to be a greeting in the top left
     with a fade in effect or coming from the left
     of the screen. I want to do this with every user
     so I have to figure that out.
     -->
<h1 class="mr-1 mb-5" style="font-family: 'Noto Serif', serif; color:rgba(196, 13, 13, 0.911); font-size: 50px; font-weight: bold; ">Hello, {{ user.username }}</h1>

<!-- I want to have four buttons in the center of the screen.-->
<div class="row text-center d-flex justify-content-center">

  <!-- First button is going to be the new tip button-->
  <div class="col-sm-3 mr-3" style="width:40%;">
    <a class="shadow btn btn btn-primary btn-lg btn-block" style="height:100px; background-color: rgb(206, 34, 34); border-color: rgb(0, 0, 0);" href="{% url 'blog-tip' %}">New Tip Out</a>
  </div>
  <!-- Second button is going to be a tip logger-->
  <div class="col-sm-3 ml-3" style="width:40%;">
    <a class="shadow btn btn btn-primary btn-lg btn-block" style="height:100px; background-color: rgb(206, 34, 34); border-color: rgb(0, 0, 0);"> Tip Log </a>
  </div>
</div>

<div class="row text-center d-flex justify-content-center mt-5" style="">
  <!-- Third button will be schedule intergration -->
  <div class="col-sm-3 mr-3" style="width:40%;">
    <a class="shadow btn btn btn-primary btn-lg btn-block" style="height:100px; background-color: rgb(206, 34, 34); border-color: rgb(0, 0, 0);" href="{% url 'posts' %}">Posts</a>
  </div>
  <!-- Profie -->
  <div class="col-sm-3  ml-3" style="width:40%;">
    <a class="shadow btn btn btn-primary btn-lg btn-block" style="height:100px; background-color: rgb(206, 34, 34); border-color: rgb(0, 0, 0);"> </a>
  </div>
</div>

{% endblock content %}
