{% extends "blog/base.html" %}
{% block content %}

<!-- I want there to be a greeting in the top left
     with a fade in effect or coming from the left
     of the screen. I want to do this with every user
     so I have to figure that out.
     -->
<h1 class="mr-1 mb-5" style="color:#000; font-size: 50px;">Hello, {{ user.username }}</h1>

<!-- I want to have four buttons in the center of the screen.-->
<div class="row text-center d-flex justify-content-center">

  <!-- First button is going to be the new tip button-->
  <div class="col-sm-3 mr-3" style="width:40%;">
    <a class="btn btn btn-primary btn-lg btn-block" style="height:100px" href="{% url 'blog-tip' %}">New Tip Out</a>
  </div>
  <!-- Second button is going to be a tip logger-->
  <div class="col-sm-3 ml-3" style="width:40%;">
    <button type="button" class="btn btn-primary btn-lg btn-block" style="height:100px">Tip Log</button>
  </div>
</div>

<div class="row text-center d-flex justify-content-center mt-5" style="">
  <!-- Third button will be schedule intergration -->
  <div class="col-sm-3 mr-3" style="width:40%;">
    <a class="btn btn btn-primary btn-lg btn-block" style="height:100px" href="{% url 'blog-home' %}">Posts</a>
  </div>
  <!-- Profie -->
  <div class="col-sm-3  ml-3" style="width:40%;">
    <button type="button" class="btn btn-primary btn-lg btn-block" style="height:100px">Block level button</button>
  </div>
</div>

{% endblock content %}
